@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');


*, *::before, *::after{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto ;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;

  background-image: url('../src/img/vegan-burger.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  max-width: 900px;
  height: 100%;
  color: #dcedc2;
  position: relative;
}


input:focus-visible{
  outline: none;
}

code {
  font-family:  'Courier New', monospace;
}

a {
  text-decoration: none;
  color: #dcedc2;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  margin: 3rem 0 0 0;
  height: 3rem;
  background-color: transparent;
  text-shadow: -1px -1px 1px rgb(0, 0, 0), 1px 1px 1px rgb(0, 0, 0);
}

.footer-link:hover {
  transition: ease .6s;
  color: #f1533a;
}